In [6]:
import seaborn as sns
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
%matplotlib inline
sns.set()
sns.pairplot(iris, hue='species', height=1.5);

In [8]:
X_iris = iris.drop('species', axis=1)
X_iris.shape

(150, 4)

In [9]:
y_iris = iris['species']
y_iris.shape

(150,)

In [11]:
from sklearn.linear_model import LinearRegression

ModuleNotFoundError: No module named 'sklearn'